extends ../layouts/main

block content
    .container
        header
            h1 Dashboard
            p Welcome back, Paula 😀

        .boxes
            a.box(href="/admin/products") 
                p Products
                .stat-display
                    i.fas.fa-box
                    p= totalProducts
            a.box(href="/admin/users") 
                p Users
                .stat-display
                    i.fas.fa-user
                    p= totalUsers
                
            a.box(href="/admin/orders") 
                p Orders
                .stat-display
                    i.fas.fa-shopping-cart
                    p 6
