extends ../layouts/main

block content
    .container
        header
            h1 Admin Dashboard
            p Welcome back, Paula 😀

        .boxes
            .box
                p Products
                .amount-container
                    i.fas.fa-box
                    p= totalProducts
            .box
                p Users
                .amount-container
                    i.fas.fa-user
                    p 25
                
            .box
                p Orders
                .amount-container
                    i.fas.fa-shopping-cart
                    p 6
