extends ../layouts/main 

block content 
    .container 
        .header
            h1 Users
        
        table.products-table
            thead
                tr
                    th Name
                    th Email 
                    th Role
                    th Status
                    th Actions
            tbody
                each user in users
                    tr
                        td= user.name 
                        td.email= user.email
                        td= user.role
                        td
                            if user.isDeleted 
                                span.status-icon.deleted ❌
                            else 
                                span.status-icon.active ✅
                        td.actions
                            button.edit-btn
                                i.fas.fa-edit
                            button.delete-btn
                                i.fas.fa-trash