{{define "navbar"}}
<nav class="navbar">
  <div class="navbar-container">
    <ul class="nav-items">
      <li>
        <a href="/products">
          <span class="nav-item">Products </span>
          <i class="fas fa-angle-down"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="nav-item">Deals </span>
          <i class="fas fa-angle-down"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="nav-item">Services </span>
          <i class="fas fa-angle-down"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
{{end}}
