{{define "order-product-content"}}
<h1 class="page-header">Order Product</h1>
<p>{{.Product.Image}}</p>
<div class="form-container">
  <form action="/order" method="POST" class="order-form">
    <input type="hidden" name="productId" value="{{.Product.ID}}" />
    <div class="form-group">
      <label for="name" class="form-label">Name:</label>
      <input
        type="text"
        id="name"
        name="customerName"
        class="form-input"
        required
      />
    </div>
    <div class="form-group">
      <label for="email" class="form-label">Email:</label>
      <input type="email" id="email" name="email" class="form-input" required />
    </div>
    <div class="form-group">
      <label for="quantity" class="form-label">Quantity:</label>
      <input
        type="number"
        id="quantity"
        name="quantity"
        min="1"
        max="{{.Product.Quantity}}"
        class="form-input"
        required
      />
    </div>
    <div class="form-group">
      <label for="address" class="form-label">Address:</label>
      <textarea
        id="address"
        name="address"
        class="form-textarea"
        required
      ></textarea>
    </div>
    <button type="submit" class="form-btn">Place Order</button>
  </form>
</div>
{{end}}
