{{define "product-list-content"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Available Products</title>
  </head>
  <body>
    <div class="container">
      <h1 class="page-header">Available Products</h1>
      <div class="product-container">
        {{range .Products}}
        <div class="product-card">
          <h2 class="product-name">{{.Name}}</h2>
          <img class="product-image" src="{{.Image}}" alt="{{.Name}}" />
          <p class="product-price">$ {{.Price}}</p>
          <a class="order-btn" href="/products/order/{{.Name}}">Order</a>
        </div>
        {{end}}
      </div>
    </div>
  </body>
</html>
{{end}}
