nav 
    ul 
        li
            a(href="#" class="logo")
                img(src="../images/logo.png", alt="logo")  
                span.nav-item Polar Shop
        li 
            a(href="/admin/dashboard")
                i.fas.fa-home
                span.nav-item Dashboard 
        li 
            a(href="/admin/products")
                i.fas.fa-box
                span.nav-item Products
        li 
            a(href="/admin/users")
                i.fas.fa-users
                span.nav-item Users
        li 
            a(href="/admin/orders")
                i.fas.fa-shopping-cart
                span.nav-item Orders
        li 
            a(href="/admin/settings")
                i.fas.fa-cog 
                span.nav-item Settings 
        li 
            a(href="" class="logout")
                i.fas.fa-sign-out-alt 
                span.nav-item Log out
