nav 
    ul 
        li
            a(href="#")
                img(src="logo.png", alt="logo")
                span Polar Shop  
        li 
            a(href="")
                i 
                span.nav-item Dashboard 
        li 
            a(href="")
                i 
                span.nav-item Products
        li 
            a(href="")
                i 
                span.nav-item Users
        li 
            a(href="")
                i 
                span.nav-item Orders
        li 
            a(href="")
                i 
                span.nav-item Settings 
        li 
            a(href="")
                i 
                span.nav-item Log out
        